.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Currently legacy, but likely to be brought back quite soon */
.App-Plan {
  color: black;
  background-color: white;
  justify-content: left;
  align-items: left;
  opacity: 70%;
} 

.App-Plan-HOVER {
  opacity: 100%;
}

.App-Plan-WORK {
  color: black;
  background-color: white;
  justify-content: left;
  align-items: left;
} 

.App-Plan-HOME {
  color: black;
  background-color: white;
  justify-content: left;
  align-items: left;
} 

